Catering for everyone's needs

We offer two different subscription plans. Join now!

Silver

• Up to 100 emails per month.
• 2 different skins.
• Web access.

Just
%strong £2/month

= link_to 'Sign up', sign_up_path(product: 'silver')

Gold

• Up to 1000 emails per month.
• Customisable skins.
• Web and mobile app access.

For only
%strong £7/month

= link_to 'Sign up', sign_up_path(product: 'gold')
