%h1.text-center
  Catering for everyone's needs

%h4.text-center.mb-5
  We offer two different subscription plans. Join now!

.row
  .col-md-6
    .col-md-12.px-5.py-2.border
      %h2.text-center.p-2
        Silver
      %ul.p-2
        %li Up to 100 emails per month.
        %li 2 different skins.
        %li Web access.
      .text-center.p-2
        Just
        %strong £2/month
      .text-center.p-2
        = link_to 'Sign up', sign_up_path(product: 'silver'), class: 'btn btn-primary'

  .col-md-6
    .col-md-12.px-5.py-2.border
      %h2.text-center.p-2
        Gold
      %ul.p-2
        %li Up to 1000 emails per month.
        %li Customisable skins.
        %li Web and mobile app access.
      .text-center.p-2
        For only
        %strong £7/month
      .text-center.p-2
        = link_to 'Sign up', sign_up_path(product: 'gold'), class: 'btn btn-primary'
